{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        {% for dialog in dialogs %}
            <tr>
                <td>
                    <a href="{{ url_for('chat.messages', username=dialog.sender.username) }}">
                        {{ dialog.sender.username }}
                    </a>
                </td>
                <td>
                    {{ dialog.not_read }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include 'prev_and_next.html' %}
{% endblock %}
