{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} {{ _('followers') }}</p>
                <p>{{ user.followed.count() }} {{ _('following') }}</p>
                {% include 'main/user_buttons.html' %}
                <p>
                    <form action="{{ url_for('auth.del_user') }}" method="post">
                        <input type="submit" class="btn btn-primary" value="{{ _('Delete account') }}" />
                    </form>
                </p>
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% include 'prev_and_next.html' %}
{% endblock %}
